@mixin amapi-table() {


	width: 100%;
	border-collapse: collapse;
	margin-block-end: 20px;

	th,
	td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}

	th {
		background-color: #efefef;
		font-weight: 500;
	}

	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tbody tr:hover {
		background-color: #f0f0f0;
	}
}
