/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use './mixins.scss' as *;

.wp-block-hasanamapi-amapi-block {

	table {
		@include amapi-table();
	}

	.amapi-table-title {
		font-size: 26px;
		margin-block-start: 0;
		text-align: center;
	}

	#amapi-page-content {
		padding-block-start: 20px;
		padding-inline: 20px;

		.loading-image {
			display: flex;
			padding-block: 100px;
			justify-content: center;
		}

	}
}
