#wpcontent {
	padding-left: 0 !important;
	position: relative
}

.amapi-admin-page {
	position: relative;

	#amapi-toast-wrap {
		position: fixed;
		right: 20px;
		bottom: 50px;
		transition: all .3s;
		// max-width: 200px;

		.amapi-toast {
			padding-block: 5px;
			padding-inline-end: 10px;
			padding-inline-start: 5px;
			margin-block-end: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, .1);
			align-items: flex-start;
		}

	}

	.amapi-toast {
		background-color: #fff;
		display: flex;
		align-items: center;
		border-radius: 5px;

		span.close {
			cursor: pointer;
			font-size: 16px;
			line-height: 18px;
			color: #e27730;
			margin-right: 5px;
			box-sizing: border-box;
			min-width: 18px;
			height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 2px;
			border: 1px solid #e27730;
			transition: all .3s;

			&:hover {
				background-color: #e27730;
				color: #fff;
			}

		}

	}

	.wrap {
		margin: 0;
	}


	#amapi-page-header {
		border-top: 3.5px solid #e27730;
		padding: 10px 20px;
	}

	#wp-mail-smtp {
		.amapi-page-title {
			min-height: 58px;
			background-color: #fff;
			font-size: 14px;
			margin: 0 0 20px 0;
			padding: 0 20px;

			a.tab {
				border-bottom: 3px solid #fff;
				box-shadow: none;
				color: #666;
				display: inline-block;
				margin-right: 30px;
				padding: 20px 0 17px 0;
				text-decoration: none
			}

			a.tab.active {
				border-color: #e27730
			}

			a.tab:hover {
				border-color: #999
			}
		}

		#amapi-page-content {
			padding: 0 20px;


			img {
				display: flex;
				margin: auto;
				margin-top: 100px;
			}

			*,
			*::before,
			*::after {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box
			}

			.amapi-table-title {
				font-size: 16px;
				font-weight: 500;
				margin-block-start: 0;
			}

			table {

				width: 100%;
				border-collapse: collapse;
				margin-block-end: 20px;

				th,
				td {
					border: 1px solid #ddd;
					padding: 8px;
					text-align: left;
				}

				th {
					background-color: #efefef;
					font-weight: 500;
				}

				tbody tr:nth-child(even) {
					background-color: #f2f2f2;
				}

				tbody tr:hover {
					background-color: #f0f0f0;
				}
			}
		}
	}
}
